<!doctype html>
<html>
  <head>
    <title>Service Tester</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <style is="custom-style">
      body {
        @apply(--layout-fullbleed);
        @apply(--layout-vertical);
        @apply(--layout-center);
      }
      .title { margin-top: .4em; margin-bottom: .5em;}
    </style>
  </head>
  <body>



  <paper-header-panel mode="seamed">
    <paper-toolbar>
      <h1 class="title">Service Tester</h1>
      <service1-cmp></service1-cmp>
      <service2-cmp></service2-cmp>
    </paper-toolbar>
    <activity-cmp></activity-cmp>
  </paper-header-panel> 
  <footer-cmp>

  <script src="https://cdn.rawgit.com/download/polymer-cdn/1.5.0/lib/webcomponentsjs/webcomponents-lite.min.js"></script>
  <link rel="import" href="https://cdn.rawgit.com/download/polymer-cdn/1.5.0/lib/polymer/polymer.html">
  <link rel="import" href="https://cdn.rawgit.com/download/polymer-cdn/1.5.0/lib/iron-flex-layout/iron-flex-layout.html">
  <script src="http://rawgit.com/apparatus/mu/master/mu-polymer.js"></script>
  <script>
    Polymer.mu.http
    Polymer.mu.route({ns: 'activity', cmd: 'entry'}, Polymer.mu.http)
    Polymer.mu.route('*', Polymer.mu.http)
  </script>
  <link rel="import" href="https://cdn.rawgit.com/download/polymer-cdn/1.5.0/lib/paper-header-panel/paper-header-panel.html">

  <link rel="import" href="/api/theme/component">
  <style is="custom-style" include="theme-css"></style>

  <link rel="import" href="/api/service1/component">
  <link rel="import" href="/api/service2/component">
  <link rel="import" href="/api/activity/component">

  <dom-module id="footer-cmp">
    <link rel="import" href="https://cdn.rawgit.com/download/polymer-cdn/1.5.0/lib/paper-header-panel/paper-header-panel.html">
    <template>
     <style>
        #footer {
          height: 3.3em;
        }
        #fuge-logo {
          width: 6em;
        }
      </style>
      <paper-header-panel mode="seamed" id="footer">
        <div id="fuge">
          <a href="http://fuge.io"><img id="fuge-logo" src="img/fuge-logo.png"></a>
        </div>
      </paper-header-panel>      
    </template>
    <script>Polymer({is: 'footer-cmp'});</script>
  </dom-module>

  </body>
</html>


