<div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Activity</h3>
    </div>
    <div id="output" class="panel-body">
      <div class="list-group">
        <template id="entries" is="dom-repeat" items="{{entries}}">
            <a href="#" class="list-group-item"> 
              <h4 class="list-group-item-heading"> 
                {{item.service}} {{item.action}} Poked
              </h4> 
              <pre class="list-group-item-text">{{item.result}}</pre>
            </a>
        </template>
      </div>
    </div>
  </div>
</div>